.city{
  padding-bottom: 50px;
  .adm-nav-bar{
    background-color: bisque;
    
  }
  ul{
    font-size: 16px;
    margin: 0;
    padding-inline-start:0;
    li{
      list-style: none;
      padding: 5px 10px;
    }
  }
}