.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.nav .navitem{
  text-align: center;
}
.nav img{
  width: 48px;
}
.nav h2{
  margin-top: 7px;
  font-size: 13px;
  font-weight: normal;
}